<div class="container">
    <div class="main-section">
        <div class="my-photo">
            <img src="https://cdn.totallythebomb.com/wp-content/uploads/2015/11/tech-support-guys.jpg" alt="Ruslan Sydir">

        </div>

        <section class="about-me-title">
            <p class="work-position">
                Backend-developer
            </p>
            <p class="my-name">
                Ruslan Sydir
            </p>
            <p class="description">
                BLA BLA BLA ABOUT ME BLA BLA BLA ABOUT ME BLA BLA BLA ABOUT ME BLA BLA BLA ABOUT ME
                BLA BLA BLA ABOUT ME BLA BLA BLA ABOUT ME BLA BLA BLA ABOUT ME BLA BLA BLA ABOUT ME
                BLA BLA BLA ABOUT ME BLA BLA BLA ABOUT ME BLA BLA BLA ABOUT ME BLA BLA BLA ABOUT ME
                BLA BLA BLA ABOUT ME BLA BLA BLA ABOUT ME BLA BLA BLA ABOUT ME BLA BLA BLA ABOUT ME
                BLA BLA BLA ABOUT ME BLA BLA BLA ABOUT ME BLA BLA BLA ABOUT ME BLA BLA BLA ABOUT ME
                BLA BLA BLA ABOUT ME BLA BLA BLA ABOUT ME BLA BLA BLA ABOUT ME BLA BLA BLA ABOUT ME

            </p>

            <a href="#" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Download CV</a>
            <a href="#" class="btn btn-secondary btn-lg disabled" role="button" aria-disabled="true">Contact</a>
        </section>
    </div>

    <div class="second-section">
        <section class="skills">
            <p class="skills-title">
                What I Do
            </p>

            <div class="card-deck">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            
                            <div class="card-body">
                                
                                <span class="material-symbols-outlined">
                                    language
                                </span>

                                <div class="title">
                                    Web-Development
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                           
                            <div class="card-body">

                                <span class="material-symbols-outlined">
                                    bug_report
                                </span>

                                <div class="title">
                                    Software testing
                                </div>

                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                          
                            <div class="card-body">
                                <span class="material-symbols-outlined">
                                    support_agent
                                </span>
                                <div class="title">Work with customers</div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                           
                            <div class="card-body">
                                <span class="material-symbols-outlined">
                                    api
                                </span>
                                <div class="title">Product support</div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>


        </section>
    </div>
</div>