<div class="container">
    <div class="main-section">
        <div class="my-photo">
            <img src="" alt="Ruslan Sydir">

        </div>

        <section class="about-me-title">
            <p class="work-position">
                Backend-developer
            </p>
            <p class="my-name">
                Ruslan Sydir
            </p>
            <p class="description">
                This will contain a description of me...
            </p>

            <button class="download-cv-btn">Download CV</button>
            <button class="contact-btn">Contact</button>
        </section>
    </div>

    <div class="second-section">
        <section class="skills">
            <p class="skills-title">
                What I Do
            </p>


           



        </section>
    </div>
</div>