@model AboutMe.Models.ContactModel

<div class="content">
    <div class="contact-form">
        <h2>Зв'яжіться зі мною</h2>
        <form method="post" asp-controller="Home" asp-action="Contact">
            <label asp-for="Name">Ім'я:</label><br>
            <input asp-for="Name" class="form-control"><br>
            <span asp-validation-for="Name"></span><br>

            <label asp-for="Email">Електронна пошта:</label><br>
            <input asp-for="Email" class="form-control" required><br>
            <span asp-validation-for="Email"></span><br>

            <label asp-for="Message">Повідомлення:</label><br>
            <textarea asp-for="Message" class="form-control" required></textarea><br>
            <span asp-validation-for="Message"></span><br>
            <input type="submit" value="Відправити">
        </form>
    </div>

    <div class="contact-info">
        <div class="title">Contact me</div>

        <div class="address">
            <span class="field">Address: </span>
            <span class="value">YOUR ADDRESS (LINK FOR MAP)</span>
        </div>

        <div class="phone">
            <span class="field">Phone number: </span>
            <div class="value">YOUR PHONE</div>
        </div>

        <div class="email">
            <span class="field">Email: </span>
            <div class="email-value">YOUR Email</div>
        </div>
    </div>
</div>


