

<div class="card-deck">

    <div class="phone-card">
        
        <div class="card-body">
            <h5 class="card-title">PHONE NUMBER</h5>
            <p class="card-text">+48 777 777 777</p>
        </div>
    </div>

    <div class="email-card">
        
        <div class="card-body">
            <h5 class="card-title">Email</h5>
            <p class="card-text">ruslan@sydir.com</p>
        </div>
    </div>

    <div class="telegram-card">
        
        <div class="card-body">
            <h5 class="card-title">Telegram</h5>
            
        </div>
    </div>

</div>

@model AboutMe.Models.ContactModel

<div class="contact-form">
    <h2>Зв'яжіться зі мною</h2>

    <form method="post" asp-controller="Home" asp-action="Contact">
        <label asp-for="Name">Ім'я:</label><br>
        <input asp-for="Name" class="form-control"><br>
        <span asp-validation-for="Name"></span><br>

        <label asp-for="Email">Електронна пошта:</label><br>
        <input asp-for="Email" class="form-control" required><br>
        <span asp-validation-for="Email"></span><br>

        <label asp-for="Message">Повідомлення:</label><br>
        <textarea asp-for="Message" class="form-control" required></textarea><br>
        <span asp-validation-for="Message"></span><br>

        <input type="submit" value="Відправити">
    </form>
</div>

