@{
    ViewData["Title"] = "My projects...";
}
<h1>@ViewData["Title"]</h1>

@model List<AboutMe.Models.Project>


<div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')">Show all</button>
    <button class="btn active" onclick="filterSelection('app')">Web App</button>
    <button class="btn active" onclick="filterSelection('api')">Web API</button>
    <button class="btn active" onclick="filterSelection('other')">Other</button>
</div>


<div class="row">

    <div class="column app">
        <div class="content">
            <img src="" alt="TEST APP" style="width:100%">
            <h4>TEST APP</h4>
            <p>Lorem ipsum dolor..</p>
        </div>
    </div>
    

    <div class="column api">
        <div class="content">
            <img src="" alt="TEST API" style="width:100%">
            <h4>TEST API</h4>
            <p>Lorem ipsum dolor..</p>
        </div>
    </div>


    <div class="column other">
        <div class="content">
            <img src="" alt="TEST OTHER" style="width:100%">
            <h4>TEST OTHER</h4>
            <p>Lorem ipsum dolor..</p>
        </div>
    </div>
    
</div>



