@{
    ViewData["Title"] = "Home Page";
}

@model List<AboutMe.Models.Article>

<div id="blog-block">
    <h1>Останні пости</h1>
    <ul>
        @foreach (var post in Model)
        {
            <li>
                <h2>@post.Title</h2>
                <p>@post.Content</p>
            </li>
        }
    </ul>
</div>

