@model List<AboutMe.Models.Article>

<button class="btn add">Add post</button>

@if (Model != null && Model.Count > 0)
{
    <div id="blog-block">
        <h1>Last records</h1>
        <ul>
            @foreach (var record in Model)
            {
                <li>
                    <h2>@record.Title</h2>
                    <p>@record.Content</p>
                </li>
            }
        </ul>
    </div>
}
else
{
    <p>No records to display</p>
}
